<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
  <div class="col-sm-2">
    <countdown [config]="{leftTime: 1000 * 10}"></countdown>
  </div>
</div>
