.hljs {
  margin-bottom: 0;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

.custom-style {
  font-size: 18px;
  .item {
    padding-left: 4px;
    &:nth-child(1) {
      color: rgb(199, 66, 0);
    }
    &:nth-child(2) {
      color: rgb(45, 0, 170);
    }
    &:nth-child(3) {
      color: rgb(207, 7, 147);
    }
  }
}
