<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Basic</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="{ leftTime: 30 }"></countdown>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{leftTime: 30}"></countdown>
        </textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Custom format</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="{ leftTime: 100, format: 'm:s' }"></countdown>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{ leftTime: 100, format: 'm:s' }"></countdown>
        </textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Accuracy 0.1s</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="{ leftTime: 10000, format: '剩余时间：h时m分s.S秒' }"></countdown>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{ leftTime: 10000, format: '剩余时间：h时m分s.S秒' }"></countdown>
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Notify</div>
      <div class="card-body">
        <div class="mb-3">
          <p class="card-text">Notify at 2, 5 seconds</p>
          <countdown #countdown [config]="notifyConfig" (event)="handleEvent2($event)"></countdown>
          <div>
            <button (click)="resetTimer()" class="btn btn-link btn-sm">Reset(using restart function)</button>
          </div>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{leftTime: 10, notify: [ 2, 5 ]}" (event)="handleEvent($event)"></countdown>
        </textarea>
      </div>
      <div class="card-footer">{{ notify }}</div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Unix timestamp</div>
      <div class="card-body">
        <div class="mb-3">
          <p class="card-text">指的是根据本地时间至结束时间进行倒计时</p>
          <countdown [config]="stopConfig"></countdown>
          <div>
            <button (click)="resetStop()" class="btn btn-link btn-sm">Reset</button>
          </div>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{ stopTime: 1493313440499 }"></countdown>
        </textarea>
      </div>
      <div class="card-footer">{{ stopConfig | json }}</div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Custom format date</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="customFormat"></countdown>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="customFormat"></countdown>
        </textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Demand</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown #cd2 [config]="{ leftTime: 30, demand: true }"></countdown>
          <div>
            <button (click)="cd2.begin()" class="btn btn-link btn-sm">begin</button>
          </div>
        </div>
        <textarea highlight-js>
          &lt;countdown [config]="{leftTime: 30, demand: true}"></countdown>
        </textarea>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Actions</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown #cd1 (event)="handleEvent($event)" [config]="{ leftTime: 30 }"></countdown>
          <div>
            <button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
            <button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
            <button (click)="cd1.stop()" class="btn btn-link btn-sm">stop</button>
            <button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button>
          </div>
        </div>
        <textarea highlight-js>
&lt;countdown #cd1 [config]="{leftTime: 30}" (event)="handleEvent($event)"></countdown>
<button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
<button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
<button (click)="cd1.stop()" class="btn btn-link btn-sm">stop</button>
<button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button>
</textarea
        >
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Using date-fns format date</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="dateFnsConfig"></countdown>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">Pretty text</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="prettyConfig" class="custom-style"></countdown>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="card text-center">
      <div class="card-header">More than 24 hours</div>
      <div class="card-body">
        <div class="mb-3">
          <countdown [config]="moreThan24Hours"></countdown>
        </div>
      </div>
    </div>
  </div>
</div>
